<div class="container mt-5">
  <h1 class="text-center title">Mes ventes</h1>
  <div class="container">
    <div class="cards">
      <% @bookings.each do |booking| %>
        <div class="card-product">
          <%= cl_image_tag booking.pull.photo.key, height: 300, width: 400, crop: :fill %>
          <div class="card-product-infos">
            <h2><%= link_to booking.pull.title, pull_path(booking.pull) %></h2>
            <p>Réservé du <%= booking.start_date %> au <%= booking.end_date %></p>
            <p>Votre pull a été loué <b><%= (booking.end_date - booking.start_date).to_i %></b> jours à <%= booking.pull.price %>€ par jour</p>
            <h5 style="color:green">Vous avez gagné <%= (booking.pull.price * (booking.end_date - booking.start_date)).to_i %>€!</h5>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
