<div class="container mt-5">
  <h1 class="text-center title">Mes annonces de pulls</h1>
  <div class="container">
    <div class="cards">
      <% @pulls.each do |pull| %>
        <div class="card-product">
          <%= cl_image_tag pull.photo.key, height: 300, width: 400, crop: :fill %>
          <div class="card-product-infos">
            <h2><%= pull.title %></h2>
            <p><%= pull.description %></p>
            <p>Prix: <%= pull.price %>€ / Taille: <%= pull.size %></p>
            <div class="d-flex justify-content-center m-3">
              <%= link_to "Modifier", edit_pull_path(pull) , class: "btn-grey me-3" %>
              <%= link_to "Supprimer", pull_path(pull), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} , class: "btn-grey" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
