<div class="container">
  <div class="card-show d-flex justify-content-evenly">
    <div class="photo-pull">
      <% if @pull.photo&.attached? %>
        <%= cl_image_tag @pull.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
        <%= image_tag("#{@pull.user.first_name.capitalize}.png") %>
      <% end %>
    </div>
    <div class="infos-pull">
      <div class="title-h1 d-flex justify-content-between">
        <div class="title-pull m-3">
          <h1><%= @pull.title %></h1>
        </div>
        <div class="title-size m-3">
          <h1><%= @pull.size %></h1>
        </div>
      </div>
      <div class="description m-3">
        <p><%= @pull.description %></p>
      </div>
      <div class="d-flex justify-content-end m-3">
        <div class="price me-5">
          <h2><%= @pull.price.round %>€</h2>
        </div>
        <%= link_to "Louer ce pull", pull_bookings_path(@pull) , class: "btn-grey" %>
      </div>
    </div>
  </div>
</div>
