<!DOCTYPE html>
<html>
  <head>
    <title>Ugly Clothmas</title>
    <link rel="icon" href="https://res.cloudinary.com/dey9mpa39/image/upload/v1669291881/il_1588xN.3922125488_fvp3_ticrhw.webp">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "mep-shared/navbar" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render "mep-shared/footer" %>
  </body>
</html>
